<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
  </head>
  <style>
    body{
      background-color: #f6fef6;
    }
    a:link, a:visited {
  background-color: #66CD00;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
h1{
  color : #66CD00;
}
.content {
  max-width: 500px;
  margin: auto;
  margin-top: 100px !important;
margin-left: 300px !important;
}

a:hover, a:active {
  background-color: #66CD00;
}
  </style>
  <body>
    <div class="content">
    <h1>Home</h1>

    <% if (typeof message !== 'undefined' ) { %>
    <p><%= message %></p>
    <% } %>

    <a href="/users/login">Login</a>
  </div>
  </body>
</html>